[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
gunicorn = "*"
flask-heroku = "*"
numpy = "*"
keras="==2.4.1"
tensorflow = "==2.4.1"
flask-cors="3.0.10"

[requires]

python_version = "3.6"